@import "tailwindcss";
@import "tw-animate-css";
@import "./fonts.css";

@plugin "tailwindcss-motion";

@custom-variant dark (&:is(.dark *));

/* responsive font sizes | comment this out if you wanna use defaults */
:root {
	font-size: 15px;
}
@media (min-width: 1600px) {
	:root {
		font-size: 16px;
	}
}

@theme inline {
	/* fonts, font sans is the defualt body font (you can change that at the bottom of this file)*/
	--font-sans: "Satoshi", sans-serif;

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}
@utility container {
	margin-inline: auto;
	padding-inline: 1rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 640px) {
		max-width: 640px;
	}
	@media (width >= 768px) {
		max-width: 768px;
	}
	@media (width >= 1024px) {
		max-width: 1024px;
		padding-inline: 2rem;
	}
	@media (width >= 1280px) {
		max-width: 1280px;
		padding-inline: 3rem;
	}
	@media (width >= 1440px) {
		max-width: 1440px;
		padding-inline: 4rem;
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
		min-width: 0;
	}
	::-webkit-scrollbar {
		width: 9px;
		height: 8px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: color-mix(in oklab, var(--foreground) 20%, transparent);
	}
	::-webkit-scrollbar-thumb:hover {
		background-color: color-mix(in oklab, var(--foreground) 35%, transparent);
		cursor: pointer;
	}
	::-webkit-scrollbar-track {
		background-color: color-mix(in oklab, var(--foreground) 10%, transparent);
	}
	html {
		scroll-behavior: smooth;
		overflow-x: clip;
		--scroll-behavior: smooth;
		/* reserves space for the scrollbar  */
		scrollbar-gutter: stable;
	}
	/* fix layout shift of select box */
	html > body[style] {
		margin-right: 0 !important;
	}
	/* input field fix*/
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	input[type="number"] {
		appearance: textfield;
		-moz-appearance: textfield;
	}
	input,
	textarea {
		background-color: transparent;
		outline: none;
		width: 100%;
	}
	body {
		font-feature-settings:
			"rlig" 1,
			"calt" 1;
	}

	*::selection {
		color: white;
		background-color: rgb(63 63 70);
	}

	.dark *::selection {
		color: black;
		background-color: white;
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

/* utilites */
@utility pre {
	white-space: pre;
}
@utility break-words {
	white-space: pre-wrap;
	word-break: break-word;
}
@utility margin-center-x {
	margin-left: 50%;
	transform: translateX(-50%);
}
@utility center-y {
	/* requires absolute positioning */
	top: 50%;
	transform: translateY(-50%);
}
@utility center-x {
	/* requires absolute positioning */
	left: 50%;
	transform: translateX(-50%);
}
@utility link {
	color: var(--primary);
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
	&:hover {
		text-decoration-line: underline;
	}
}
@utility text-heading {
	font-size: clamp(3rem, 1.548rem + 3.871vw, 6rem);
	font-weight: 700;
	line-height: clamp(3rem, 1.065rem + 5.161vw, 7rem);
}
@utility text-heading-sm {
	font-size: clamp(1.5rem, 0.774rem + 1.935vw, 3rem);
	font-weight: 700;
	line-height: clamp(1.75rem, 0.874rem + 2.335vw, 3.56rem);
}
/* background primary radial gradient */
@utility bg-primary-radial-gradient {
	background: color-mix(in oklab, var(--primary) 3%, transparent);
	background: radial-gradient(
		circle,
		color-mix(in oklab, var(--primary) 50%, transparent) 0%,
		color-mix(in oklab, var(--primary) 18%, transparent) 30%,
		color-mix(in oklab, var(--primary) 5%, transparent) 50%,
		color-mix(in oklab, var(--primary) 0%, transparent) 70%
	);
	background-size: cover;
	background-position: center;
	object-fit: fill;
	@variant dark {
		background: color-mix(in oklab, var(--primary) 3%, transparent);
		background: radial-gradient(
			circle,
			color-mix(in oklab, var(--primary) 40%, transparent) 0%,
			color-mix(in oklab, var(--primary) 15%, transparent) 30%,
			color-mix(in oklab, var(--primary) 5%, transparent) 50%,
			color-mix(in oklab, var(--primary) 0%, transparent) 70%
		);
		background-size: cover;
		background-position: center;
		object-fit: fill;
	}
}

@utility border-primary-gradient {
	position: relative;
	background: hsl(var(--primary) / 0.03);
	background: radial-gradient(
		circle,
		color-mix(in oklab, var(--primary) 50%, transparent) 0%,
		color-mix(in oklab, var(--primary) 18%, transparent) 30%,
		color-mix(in oklab, var(--primary) 5%, transparent) 50%,
		color-mix(in oklab, var(--primary) 0%, transparent) 70%
	);
	background: linear-gradient(
		320deg,
		color-mix(in oklab, var(--primary) 100%, transparent) 0%,
		color-mix(in oklab, var(--primary) 70%, transparent) 15%,
		color-mix(in oklab, var(--primary) 0%, transparent) 40%,
		color-mix(in oklab, var(--primary) 0%, transparent) 65%,
		color-mix(in oklab, var(--primary) 60%, transparent) 88%,
		color-mix(in oklab, var(--primary) 100%, transparent) 100%
	);
	background-size: cover;
	background-position: center;
	object-fit: fill;
	&::before {
		content: "";
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		border-radius: 50%;
		background-color: hsl(var(--background));
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@layer base {
	:root {
		--radius: 0.625rem;
		--background: oklch(1 0 0);
		--foreground: oklch(0.141 0.005 285.823);
		--card: oklch(1 0 0);
		--card-foreground: oklch(0.141 0.005 285.823);
		--popover: oklch(1 0 0);
		--popover-foreground: oklch(0.141 0.005 285.823);
		--primary: oklch(0.43 0.04 42);
		--primary-foreground: oklch(1 0 0);
		--secondary: oklch(0.92 0.07 76.67);
		--secondary-foreground: oklch(0.35 0.07 41.41);
		--muted: oklch(0.967 0.001 286.375);
		--muted-foreground: oklch(0.552 0.016 285.938);
		--accent: oklch(0.967 0.001 286.375);
		--accent-foreground: oklch(0.21 0.006 285.885);
		--destructive: oklch(0.577 0.245 27.325);
		--border: oklch(0.92 0.004 286.32);
		--input: oklch(0.92 0.004 286.32);
		--ring: oklch(0.705 0.015 286.067);
		/* chart colors */
		--chart-1: oklch(0.646 0.222 41.116);
		--chart-2: oklch(0.6 0.118 184.704);
		--chart-3: oklch(0.398 0.07 227.392);
		--chart-4: oklch(0.828 0.189 84.429);
		--chart-5: oklch(0.769 0.188 70.08);
		/* sidebar colors */
		--sidebar: oklch(0.985 0 0);
		--sidebar-foreground: oklch(0.141 0.005 285.823);
		--sidebar-primary: oklch(0.21 0.006 285.885);
		--sidebar-primary-foreground: oklch(0.985 0 0);
		--sidebar-accent: oklch(0.967 0.001 286.375);
		--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
		--sidebar-border: oklch(0.92 0.004 286.32);
		--sidebar-ring: oklch(0.705 0.015 286.067);
	}

	.dark {
		--background: oklch(0.141 0.005 285.823);
		--foreground: oklch(0.985 0 0);
		--card: oklch(0.21 0.006 285.885);
		--card-foreground: oklch(0.985 0 0);
		--popover: oklch(0.21 0.006 285.885);
		--popover-foreground: oklch(0.985 0 0);
		--primary: oklch(0.92 0.05 67.14);
		--primary-foreground: oklch(0.2 0.02 201.14);
		--secondary: oklch(0.32 0.02 67);
		--secondary-foreground: oklch(0.92 0.05 67.14);
		--muted: oklch(0.274 0.006 286.033);
		--muted-foreground: oklch(0.705 0.015 286.067);
		--accent: oklch(0.274 0.006 286.033);
		--accent-foreground: oklch(0.985 0 0);
		--destructive: oklch(0.704 0.191 22.216);
		--border: oklch(1 0 0 / 10%);
		--input: oklch(1 0 0 / 15%);
		--ring: oklch(0.552 0.016 285.938);
		/* chart colors */
		--chart-1: oklch(0.488 0.243 264.376);
		--chart-2: oklch(0.696 0.17 162.48);
		--chart-3: oklch(0.769 0.188 70.08);
		--chart-4: oklch(0.627 0.265 303.9);
		--chart-5: oklch(0.645 0.246 16.439);
		/* sidebar colors */
		--sidebar: oklch(0.21 0.006 285.885);
		--sidebar-foreground: oklch(0.985 0 0);
		--sidebar-primary: oklch(0.488 0.243 264.376);
		--sidebar-primary-foreground: oklch(0.985 0 0);
		--sidebar-accent: oklch(0.274 0.006 286.033);
		--sidebar-accent-foreground: oklch(0.985 0 0);
		--sidebar-border: oklch(1 0 0 / 10%);
		--sidebar-ring: oklch(0.552 0.016 285.938);
	}

	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground overflow-x-clip font-sans antialiased;
	}
}
