---
import Layout from "@/layouts/Layout.astro";
import { SVGTool } from "@/components/tools/SVGtoPngTool";
// import Img from "@/components/utils/Img.astro";
// import { SvgList } from "@/components/SvgList.tsx";
---

<Layout title="SVG to PNG Converter | Free Online Tool | Scaled SVGs to PNGs">
	<div class="flex min-h-screen flex-col justify-between">
		<div class="flex flex-grow flex-col items-center justify-center">
			<SVGTool client:load />
		</div>
	</div>
</Layout>
